---
import Logo from './Logo.astro'
---

<header>
  <Logo />
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1">19班的聊天机器人</span>
    <span class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">by19常源</span>
    <h1>我做这个主要是为了方便大家的生活<h2>
  </div>
  <p mt-1 text-slate op-60>Based on OpenAI API (gpt-3.5-turbo).</p>
</header>
